<div class="cp-masthead" role="banner">
  <div class="cp-masthead__text">
    
    <h1 id="title" class="cp-masthead__title cp-masthead__title--preline">
      A Camariana design & build things for the web.
    </h1>

    <p class="cp-masthead__lead-text">
      He's a teacher, UX designer, and front-end engineer — specializing in  designing and building exquisite digital experiences — currently teaching at
      <a href="#">Csaydimba</a>
      and leading design engineering at
      <a href="#">The Gambia College</a>.
    </p>
    
    <span class="ob-tag cp-masthead__tag">
      Hey 👋
    </span>

    <a class="cp-button cp-button--secondary cp-masthead__button" href="#">
      Meet A Camariana
    </a>

  </div>
</div>