<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include utilities/meta-data.html %}
    <link rel="stylesheet" href="{{ "/assets/css/index.css" | relative_url }}">
  </head>
  <body>
    <header class="header">
      {% include header.html %}
    </header>
    
    {{ content }}
    
    <footer>
      {% include footer.html %}
    </footer>

    {% include utilities/primary-nav-mobile.html %}
    
    <script src="{{ "/assets/js/index.js" | relative_url }}"></script>
  </body>
</html>
